*{
    margin: 20px;
    padding: 20px;
}
body{
    font-family: 'Lato',sans-serif;
    font-family: 'Open Sans',sans-serif;
}
.banner-img{
    width: 500px;
    padding: 10px 10px 0px 10px;
   
}
.banner{
    display: flex;
    justify-content: space-between;
    height: 500px;
    align-items: center;
    background-color:rgba(229,80,115,0.10) ;
    width: 1500px;
    height: 800px;
    
    
    
}
.banner-greeting{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-title{
    color: rgba(39,39,39,0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary{
    display: inline-flex;
    padding: 20px 40px;
    align-items: flex-start;
    gap:10px
    color: #FFF;
    background-color:#E55473 ;
    border-radius:5px;
    border:0;

}
.flower-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1500px;
    height: 800px;
    background-color: rgba(229,84,115,0.05);
}
.flower-sale{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.flower-off{
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}
.flower-paragrap{
    color: rgba(39,39,39,0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.flower-photo{
width: 300px;
height: 400px;
}
.Instagram{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.content{
    color: rgba(39,39,39,0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}
.flower-asset{
    display: flex;
    width: 350px;
    height: 400px;
    text-align: center;
    align-items: center;
    gap: 25px;
}
.Rectangle-img{
    background-image: url('./Flower\ Asset/Rectangle9.png'),linear-gradient(45deg #000, #696666)
}

  .footer-title{
    width: 1500px;
    height: 800px;
    background-color: #111010;
    text-align: center;
    justify-content: center;
  }  
  .footer-header{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    
  }
  .shop{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
  }
  .header-content{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }
  .footer-flowershop{
    color: #FFF;
    font-size: 10px;
    font-weight: 200;
  }

